
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--tipografia);
}

body {
    background: linear-gradient(80deg, rgb(39, 39, 189), rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100vh;   
}

body main{
    background-color: rgba(128, 128, 128, 0.253);;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--textoClaro);
}

body main h2{
    color: var(--textoClaro);
    font-size: 1.5rem;
}

body main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pass{
    text-decoration: none;
    color: var(--textoClaro);
    font-size: 1.1rem;
}

body main div label{
    color: var(--textoClaro);
    font-size: 20px;
    color: var(--textoClaro);
    align-items: start;
}

body main  div  input{
    width: 250px;
    height: 40px;
    padding: 10px;
    border-radius: 1rem;
    background: transparent;
    border: 2px solid var(--textoClaro);
    color: var(--textoClaro)
    
}

body main div .enviar{
    background-color: var(--textoClaro);
    color: var(--textoOscuro);
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;

}



